#Teacher-Form, #Student-Form {
	z-index: 1000;
	position: fixed!important;
	display: none;
}
#Teacher-Form form h1, #Teacher-Form form span, #Student-Form form h1, #Student-Form form span {
	color: black;
}
.student-info{
	display: flex;
}
.close{
	right: 20px;
	width: 50px;
	font-size: 2.4em;
	z-index: 1001;
	cursor: pointer;
}